@model Pizza

<div class="container-pizza text-center">
    <div>
        <img width="400" src="@Model.Image" alt="Foto pizza">
        <h5 class="py-5 text-success text-uppercase">@Model.Nome</h5>
        <p>@Model.Descrizione</p>
        <p>€ @Model.Prezzo</p>
        <p><strong>Categoria: </strong>
            @if (Model.Catwgoria != null)
            {
                <span>@Model.Catwgoria.Name</span>
            }else
            {
                <span>Nessuna categoria associata</span>
            }
        </p>

        <p><strong>Ingredienti:</strong></p>
        @foreach(Ingrediente ingrediente in Model.Ingredienti)
        {
            <span>@ingrediente.Ingredienti</span>
        }
    </div>
</div>